/* remove browser defauts **********/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 100%;
    margin: 0;
}
.row {
    width: 100%;
}
.header-container {
    margin: 0;
    height: 400px;
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2018/07/04/22/55/fantasy-3517206_960_720.jpg");
    background-size: cover;
    background-position:center;
    color: gainsboro;
}
.header-container h1 {
    color: #be3239;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-align: center;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.filter-group {
    border: 2px solid #be3239;
    min-height: 200px;
    background-color: black;
}
#category, #difficulty {
    display: block;
    margin: 15px 10px 10px 15px;
    width: 90%;
    border-radius: 5px;
    background-color: #be3239;
    height: 30px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#start {
    background-color: #be3239;
    color: black;
    border-radius: 5px;
    width: 90%;
    margin-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

/* Container where questions go */
.questions-container {
    border: none;
    min-height: 210px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: #be3239;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}

/* Container where answer choices go */
.answers-container {
    min-height: 230px;
    height: 100%;
    background-color: black;
    color:#be3239 ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: none;
    flex: auto;
}
.answers-container button {
    margin-right: 5px;
    border-radius: 3px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    background-color: #be3239;
}

/* Container where the counter is displayed */
.counter-container {
    background-color: black;
    border: 2px solid #be3239;
}
.countdown-counter {
    height: 200px;
    text-align: center;
    font-size: 4rem;
    color:#be3239 ;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
/* Counter initial image */
.countdown-counter img {
    height: 200px;
    width: 100%;
}

/* Distraction container & Score Container font */
#distraction, #top5 {
    color: #be3239;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 2px solid #be3239;
    padding: 10px;
}

/* Footer container */
.footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    width: 100%;
}
#copyright, #contributors {
    margin: 15px;
    color: #be3239;
}
#contributors a {
    color: #be3239;
    padding: 5px;
    margin-left: 5px;
}
#distraction, #top5 {
    background-color: black;
}

/* Modal Section */
.modal-header { 
    padding: 2px 16px;
    background-color: black;
    color: white;
    text-align: center;
  }
  .modal-body {
      padding: 2px 16px;
      display: flex;
}
  .modal-body input {
      font-size: x-large;
      font-weight: bolder;
  }
  .modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
    margin: 110;
  }
  #new-score {
      color: white;
      margin-left: 20px;
      font-size: xx-large;
  }
  .modal-content {
    position: relative;
    background-color: #be3239;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

  /* For screen size smaller than or equal to 980px **/
@media screen and (max-width: 980px) {
    .questions-container {
        border: 2px solid #be3239;
    }
    #distraction {
        display: none;
    }
    .footer {
        justify-content: center;
    }

}