body {
    margin: 20px 30px;
    border: 2px solid black;
}
.container {
    border: 1px solid blue;
    width: 100%;
    margin: 0;
}
.row {
    width: 100%;
}
.header-container {
    margin: 20px 0 0 0;
    border: 1px dashed red;
    height: 70px;
    background-color: black;
    color: gainsboro;
}
.header-container h2 {
    text-align: center;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.filter-group {
    border: 1px solid blue;
    min-height: 200px;
    background-color: darkgrey;
}
#category, #difficulty {
    display: block;
    margin: 15px 0;
    width: 90%;
    border-radius: 5px;
    background-color: cornsilk;
    height: 30px;
}
#start {
    background-color: greenyellow;
    color: brown;
    border-radius: 5px;
    width: 90%;
}
.questions-container {
    border: 1px solid black;
    min-height: 200px;
    text-align: center;
    background-color: black;
    color:gainsboro;
}
.answers-container {
    border: 1px solid blueviolet;
    height: 200px;
}
.countdown-counter {
    border: 1px solid blue;
    height: 200px;
    text-align: center;
    font-size: xx-large;
    background-color: black;
    color: gainsboro;
    /* position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); */
}
.portfolios {
    border: 1px solid brown;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: black;
}
#copyright, #contributors {
    margin: 15px;
    font-weight: bold;
    color: gainsboro;
}
#contributors a {
    /* background-color: brown; */
    color: gainsboro;
    padding: 5px;
    margin-left: 5px;
}
#distraction, #top5 {
    background-color: black;
    border: 1px solid blue;
}
/* #contributors a:hover {
    font-size: larger;
} */
