body {
    position: relative;
}
.container {
    width: 100%;
    margin: 0 auto;
    /* border: 2px solid #83040a; */
}
.row {
    width: 100%;
}
.header-container {
    margin: 0;
    /* border-bottom: 2px solid #83040a; */
    height: 400px;
    width: 1400px;
    background: url("https://cdn.pixabay.com/photo/2018/07/04/22/55/fantasy-3517206_960_720.jpg");
    background-size: cover;
    background-position:center;
    color: gainsboro;
}
.header-container h1 {
    color: #83040a;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.filter-group {
    border: 2px solid #83040a;
    min-height: 200px;
    background-color: black;
}
#category, #difficulty {
    display: block;
    margin: 15px 10px 10px 15px;
    width: 90%;
    border-radius: 5px;
    background-color: #83040a;
    height: 30px;
}
#start {
    background-color: #83040a;
    color: black;
    border-radius: 5px;
    width: 90%;
    margin-left: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.questions-container {
    border: 2px solid #83040a;
    min-height: 200px;
    text-align: center;
    background-color: black;
    color: #83040a;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}
.answers-container {
    height: 100%;
    background-color: black;
    color:#83040a ;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    border: 2px solid #83040a;
}
.answers-container button {
    margin-right: 5px;
    border-radius: 3px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
    background-color: #83040a;
}
.counter-container {
    background-color: black;
    border: 2px solid #83040a;
}
.countdown-counter {
    height: 200px;
    text-align: center;
    font-size: 4rem;
    color:#83040a ;
    /* position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%); */
}
#distraction, #top5 {
    color: #83040a;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border: 2px solid #83040a;
}
.footer {
    /* border-top: 2px groove #83040a; */
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    width: 100%;
}
#copyright, #contributors {
    margin: 15px;
    font-weight: bold;
    color: #83040a;
}
#contributors a {
    color: #83040a;
    padding: 5px;
    margin-left: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#distraction, #top5 {
    background-color: black;
}
.modal-header { 
    padding: 2px 16px;
    background-color: black;
    color: white;
    text-align: center;
  }
  .modal-body {
      padding: 2px 16px;
      display: flex;
}
  .modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
    margin: 110;
  }
  #new-score {
      color: white;
      margin-left: 20px;
  }
  .modal-content {
    position: relative;
    background-color: #83040a;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    /* border: 2px solid #83040a; */ 
  }
  .col-6 {
      /* border: 2px solid #83040a; */
  }